[submodule "Plugins/FrostyShaderDataPlugin"]
	path = Plugins/FrostyShaderDataPlugin
	url = https://github.com/Brawltendo/FrostyShaderDataPlugin
[submodule "Plugins/FrostyEmitterStackPlugin"]
	path = Plugins/FrostyEmitterStackPlugin
	url = https://github.com/Brawltendo/FrostyEmitterStackPlugin
